<app-top-bar></app-top-bar>

<h1>Survey</h1>
<survey [json]="json"
  (submitSurvey)="sendData($event)"></survey>

<h1>Survey JS Creator</h1>
<survey-creator [json]="json"
  (surveySaved)="onSurveySaved($event)"></survey-creator>

<survey-analytics></survey-analytics>